- unless !@error || @error.blank?
  %p.flash.error= @error

- if configatron.require_oauth_login && @user.blank?
  %a.button{:href => '/connect'} Log in via Twitter
- else
  %form{:action => '/', :method => 'post'}
    %input{:type => 'hidden', :name => 'auth_token', :value => ''}

    %fieldset
      %label{:for => 'tweet'}
      %textarea#tweet{:name => 'tweet'}= params[:tweet]
    %fieldset.buttons
      %input{:type => 'submit', :value => configatron.button_submit}